
.meriendauniquifier {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  
}

.container2{
    width: 300px;
    border-radius: 3px;
    border-color: black;
    border-line: black;
}

.no2{
  padding-left: 50px;
}
    
